.loading {
  /* background-image: url("../../assets/DetailImage.webp"); */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-family: "Lusitana", serif;
  background-size: cover;
  /* background-attachment: fixed; */
  flex-direction: column;
  /* width: 100vw; */
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
}

.loading-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
